page-faq-details {
  .faqDetailCard {
    // border: 1px solid darkgray;
    border-radius: 5px;
    padding: 16px;
    box-shadow: none !important ;
    // background: #F2FCFF;
    // border: 1px solid #D9F7FF;
    // border-radius: 5px;
  }

  .quesAns {
    color: gray;
    font-size: 16px;
    line-height: 1.5;
  }

  .quesLabel,
  .ansLabel {
    font-size: 18px;
    // font-weight: bold;
  }

  .ansLabel {
    margin-top: 10px;
  }

  .quesAnsImg {
    width: 22px;
    height: 22px;
  }

  // .pageTitile{
  //   margin-left: -15px;
  // }
}
