cancel-buspass-modal {
    .title-container {
        display: flex;
        align-items: center;
    }
    .cancel-btn {
        color: white;
        padding: 10px;
        font-size: 25px;
    }
    .bus-info-container {
        background: #ffffff;
        display: flex;
        align-items: center;
        border-radius: 5px;
        margin-bottom: 4px;
    }
    .user-pic {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        img.userpic-bg {
            width: 60px;
            position: absolute;
            z-index: 0;
        }
    }
    .route-img {
        width: 25px;
        height: 25px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .amount-details {
        display: flex;
        flex-direction: column;
        padding-top: 8px;
        width: 80%;
        margin-left: 4px;
    }
    .fontWeight {
        font-weight: 400;
    }
    .rules-container {
        padding: 10px;
        border-radius: 6px;
        border: 1px solid #cac6c6;
        background: #f6f6f6;
        padding-bottom: 20px;
    }
    .note-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .note-img {
        width: 30px;
        height: 35px;
        margin-right: 5px;
    }
    .bus-rulesTxt {
        color: #0ea2c8;
        text-decoration: underline;
        font-size: 15px;
    }
    .cancelBtn {
        text-transform: capitalize;
    }
    .key-value {
        font-size: 14px;
    }

    .item-cover {
        width: 0;
        height: 0;
    }
    form .label {
        margin: 10px 10px;
    }
    .select-md .select-icon {
        position: relative;
        width: 20px;
        height: 20px;
        max-width: 100%!important;
    }
    .custom-select {
        padding: 5px 10px;
        max-width: 100%!important;
    }
    .custom-date {
        padding: 5px 10px;
    }
    .margin10-rt-lf {
        margin: 0 10px !important;
    }
    .margin-btm-10 {
        margin-bottom: 10px;
    }
    ion-textarea.input.input-md {
        margin: 0;
        border: 1px solid grey;
        border-radius: 5px;
        textarea {
            margin: 0 !important;
            padding: 5px;
            outline: none;
        }
    }
    .checkBox-container {
        display: flex;
        justify-content: flex-start;
        padding: 16px 5px;
    }
    .marleft-10 {
        margin-left: 10px;
    }
    .dateLabel {
        padding: 5px 10px;
    }
    .borderBottom {
        border-bottom: 1px solid grey !important;
    }
    .form-container {
        margin-top: 10px;
    }
    ion-input {
        width: 95%;
        input.text-input.text-input-md {
            padding: 5px 10px;
            opacity: 1;
            margin: 0;
        }
    }
    .confirmation-card {
        display: flex;
        align-items: center;
    }
    .calendar-icon {
        width: 40px;
        margin-right: 4px;
        padding: 2px;
    }
    .dateValue {
        font-size: 0.96em;
    }
    .profile-cont-asso {
        width: 80px;
        height: 80px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0px 12px rgba(0, 0, 0, 0.19), 0 4px 8px rgba(0, 0, 0, 0.23);
    }
    .profile-asso {
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }
    .ion-card {
        background-color: #ffffff;
        border: none;
        box-shadow: none;
        border-radius: 5px;
        width: 98%;
        min-height: 60%;
    }
    .height50vh {
        height: 50vh;
    }
    .default-bg-img {
        width: 70%;
        height: 100%;
    }
    .centerText {
        padding: 0.3em 1em;
        margin: 0;
        color: gray;
    }
    .month-pass-date {
        padding: 0px 5px;
        font-size: 14px;
        font-weight: 400;
        margin-top: 4px;
    }
    .container-items {
        background: #ffffff;
        display: flex;
        padding: 10px 5px;
        border-radius: 5px;
        margin: 5px 10px;
    }
    .img-style {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        border: 3px solid lightblue;
        padding: 2px;
        position: relative;
        z-index: 1;
    }
    .phone-image {
        height: 45px;
        width: 45px;
        padding: 2px;
    }
    .associate-name {
        font-size: 1em;
        margin-bottom: 2px;
        font-weight: 300;
    }
    .no-mentor {
        padding: 15px;
        text-align: center;
        font-size: 1.1em;
        font-weight: 500;
    }
    .disabled {
        background-color: #e2e2e2;
    }
    .key-value {
        width: calc(100% - 50px);
        font-weight: 300;
        font-size: 1em;
        margin: 5px 0;
    }
    .clock-img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pickup-point-card {
        display: flex;
        margin: 10px;
        padding: 10px 5px;
    }
    .pickup-details {
        display: flex;
        align-items: center;
        width: 68%;
    }
    .pickup-time-card {
        display: flex;
        align-items: center;
        width: 32%;
    }
    .displayFlex-col {
        display: flex;
        flex-direction: column;
    }
    .campus-name {
        margin: 5px 0;
    }
    .ticket-parent {
        background: #e2e2e2;
        padding: 10px;
    }
    .height-auto {
        height: auto;
    }
    .bg-grey {
        background: #e1e7f3;
    }
    .no-pass-text {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 5px;
        font-size: 1.3em;
        color: #0ea2c8;
        font-size: 1.1em;
        font-weight: 400;
    }
    .new-pass-btn {
        text-align: center;
        text-transform: capitalize;
    }
    .color-black {
        color: black;
    }
    .no-pass-parent {
        padding-bottom: 10px;
    }
    .position-absolute {
        position: absolute;
    }
    .post-relative {
        position: relative;
    }
    .ticket-status-parent {
        top: 20%;
        right: -2%;
    }
    .ticket-status-img {
        width: 120px;
    }
    .busIDText {
        font-size: 1em;
    }
    .bus-passId {
        font-size: 1em;
        font-weight: 400;
        margin-top: 4px;
    }
    .monthly-pass-title {
        padding: 0px 5px;
        font-size: 1em;
    }
    .bus-details-parent {
        display: flex;
    }
    .user-info-container {
        display: flex;
        flex-direction: column;
        padding-top: 8px;
        width: 80%;
    }
    .fontWeight {
        font-weight: 400;
    }
    .driver-info-container {
        background: #ffffff;
        display: flex;
        padding: 0 10px 10px 10px;
        margin: 0px 10px;
    }
    .day-value {
        margin-bottom: 3px;
        padding: 0 3px;
        font-weight: 400;
    }
    .currDate {
        padding: 0 3px;
        font-size: 13px;
    }
    .blk-down-arrow {
        width: 10px;
    }
    .no-pass-bg {
        margin: 30px 0px;
    }
    .route-pic {
        margin-right: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .width40px {
        width: 40px;
    }
    .textarea-div {
        margin-left: 10px;
        ion-item {
            padding: 0 !important;
        }
    }
    .colorGreen {
        color: #04a248;
    }
    .fontBold {
        font-weight: 400;
    }
    .successTxt {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .success-msg-div {
        width: 46%;
        padding: 0px 5px 28px 5px;
    }
    ion-item {
        .item-inner {
            border: none !important;
            box-shadow: none !important;
        }
    }
    ion-input {
        width: 95% !important;
        margin: 0 !important;
        margin-left: 10px !important;
    }
    .img-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .cost-details-container {
        padding: 10px;
        * {
            font-family: "Roboto";
        }
    }
    .ml-10 {
        margin-left: 10px;
    }
    .mb-10 {
        margin-bottom: 10px;
    }
    .toolbar-md {
        padding: 0px !important;
        min-height: 0px !important;
        padding-top: 0 !important;
        min-height: 56px !important;
    }
    .error-msg {
        color: red;
        margin-top: 2px;
        display: block;
        margin-left: 5px;
    }
    .marginLeft{
        margin-left: 5px;
    }
}