<!-- Generated template for the TermsConditionsComponent component -->
<ion-header>
  <ion-navbar>
    <ion-title>
      Terms and Conditions
    </ion-title>
    <ion-buttons end (click)="dismiss()">
      <button ion-button icon-only>
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>

  <div style="padding:10px;">
    <h4 style="text-align: center;"> ZenRich</h4>

    <div class="heading"> 1.Referral Terms –</div>
   <div style="padding-left: 10px;">
      
      

    <p class="para">a. The Referral scheme is open only to Zensar Associates who are on Zensar’s payroll</p>

<p class="para"> b. All the Associates belonging to the HR dept and Associates in Level C and above will not receive monetary benefits, however we strongly encourage them to participate.</p>

<p class="para"> c. Overseas Associates, referring for India Open Positions (SRF) will be eligible for bonus payout in INR as per Zenrich Policy India and payout will be subject to currency exchange rate as applicable during the payout cycle.</p>

<p class="para"> d. Eligibility for the referral amount: Associates in Band G to D except those from HR department.</p>

<p class="para"> e. Under this program, NO benefits will be credited for referring Fresher (Excluding BPM, Campus hires) and Contractors / Contract-2-Hires engaged by Zensar.</p>

<p class="para"> f. Associates referring Ex-Zensarians will also be eligible for bonus payout. However, if the candidate referred is an Ex-Zensarian, he/she will have to undergo the standard evaluation process and obtain a HR clearance for rehire.</p>

<p class="para"> g. It is mandatory that, all referral profiles must be uploaded on Talent@Zensar, in order to be eligible for the monetary benefits through this program.</p>

<p class="para"> h. Candidate’s resumes will not be considered as a successful referral if the resume is already available in the Zensar Technologies Recruitment Database or if the candidate has posted the resume without using the referral program</p>

<p class="para"> i. Associates will get the credit for the referral only if the ZenTAM database report reflects them as a source of the referral</p>

<p class="para"> j. Zensar Associate are requested to closely engage with his/her referral for his joining and keep Zenrich team updated on all developments</p>

<p class="para"> k. Any referred resume remains eligible for referral scheme only for 90 days from the date of being referred. If the candidate is not interviewed/offered within 90 days, the Associate becomes ineligible for referral bonus.</p>

<div class="heading">2.Payout Terms –</div>
<p class="para"> a. Payouts will be processed post completion of 90 days of service at Zensar by the referee and referral needs to be active in the system and should not be serving notice period.</p>

<p class="para"> b. Referral bonus amount will be based on the referral’s grade at the time of joining. Please refer to the referral policy at Zenlounge for payment grid.</p>

<p class="para"> c. Payment will be made subject to deduction of applicable taxes.</p>

<p class="para"> d. The pay-out will happen as per payroll cycle If the referral has completed the 90 days period on or before 18th of the month, the bonus payout to the referee will be processed in the same month payroll. And if the referral completes the 90 days after the 18th of the month, the referee will be eligible for payout in the subsequent month payroll cycle.</p>

<p class="para"> e. Referral Bonus pay out amount will be as per the joining location of the referred candidate. Currently only India. · If referee’s location is other than India, bonus will be paid in INR. The INR amount will be converted to the Associate Current Payroll Currency, subject to deduction of applicable taxes of Associate Current Payroll Location.</p>

<div class="heading">For more details please refer to referral policy under Zenlounge+ >> Application >> ZenP</div>
    
    </div>
  </div>
</ion-content>