zenrich-terms-conditions{

  .para{
    display: flex!important;
  }
  .heading{
    text-align: justify;
    font-weight: bold;
  }
  .paraPadding{
    padding-left: 1px;
    text-align: justify;
  }
  .paraTitle{
    font-size: 1.1em;
    font-weight: 600;
  }
    @media only screen and (max-width: 767px) {
        .md .modal-wrapper > .ion-page > ion-header > .toolbar.statusbar-padding:first-child {
          padding-top: calc(20px + 4px) !important;
          padding-top: calc(constant(safe-area-inset-top) + 4px) !important;
          padding-top: calc(env(safe-area-inset-top) + 4px) !important;
          min-height: calc(56px + 20px) !important;
          min-height: calc(56px + constant(safe-area-inset-top)) !important;
          min-height: calc(56px + env(safe-area-inset-top)) !important;
        }
      }
}
