<!-- Generated template for the TermsConditionsComponent component -->
<ion-header>
  <ion-navbar>
    <ion-title>
      Terms and Conditions
    </ion-title>
    <ion-buttons end (click)="dismiss()">
      <button ion-button icon-only>
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>

  <div style="padding:10px;">
    <h4 style="text-align: center;"> Work-From-Home / Teleworking Agreement</h4>

    <div class="heading">This Work-From-Home / Teleworking Agreement (the “Teleworking Agreement”), effective March 23, 2020 is between
      you (“Associate”) and Zensar Technologies, Ltd. or its applicable affiliate which employs you (“Employer”). This
      Teleworking Agreement shall be entered into by all Associates working remotely during the Covid-19 pandemic and
      shall remain in full force and effect until Employer directs Associate to return to Associate’s working location.
      This Teleworking Agreement may be revoked at any time by Employer, at Employer’s sole discretion.
    </div>
    <p class="paraTitle para"><span>1.</span> <span class="paraPadding">Associate’s Obligations and Responsibilities When Working Remotely</span></p>
    <div style="padding-left: 10px;">
      <p class="para"> <span>a.</span> <span class="paraPadding"> Associate shall not use any of his or her personal
          devices to connect to any client network, ODC
          environment,
          etc. Associate will work only with Employer-provided or Client-provided equipment.</span></p>

      <p class="para"><span>b.</span> <span class="paraPadding"> Associate shall provide a secure location for Employer-
          or Client-provided equipment and materials, and
          will not
          use, or allow others to use, such equipment for any purpose other than conducting Employer-related business.
          All
          equipment, records, documents, and information provided by Employer shall remain the property of
          Employer.</span></p>

      <p class="para"> <span>c.</span> <span class="paraPadding"> Associate shall implement reasonable information
          security practices at Associate’s remote working location,
          as
          well as any procedures specified by Employer or Employer’s Client(s). At a minimum, Associate shall work in a
          private area that will prevent unauthorized access to Zensar or Client information (i.e. shoulder-surfing or
          phone-eavesdropping) and shall maintain clear-screen and clear-desk practices. Associate agrees to seek the
          guidance
          of Associate’s supervisor if Associate believes Associate is unable to comply with these obligations.</span>
      </p>

      <p class="para"><span>d.</span> <span class="paraPadding"> Associate shall log off from all Client systems and
          applications immediately after each shift.</span></p>

      <p class="para"><span>e.</span> <span class="paraPadding"> Associate shall lock Associate’s workstation at any
          time when away from Associate’s workspace.</span></p>

      <p class="para"><span>f.</span> <span class="paraPadding"> Associate shall not screen-capture, copy/paste, print,
          save on a storage device (i.e. a local/network hard
          drive,
          USD, DVD, etc.) any data or information from any Employer- or Client-provided equipment.</span></p>

      <p class="para"> <span>g.</span> <span class="paraPadding"> Associate understands and agrees that all applicable
          Employer and Client policies, including information
          security
          and data privacy policies, remain in full force and effect when working remotely and shall not violate any
          such
          policy(ies).</span></p>
    </div>

    <p class="paraTitle"> 2. General Terms</p>
    <div style="padding-left: 10px;">

      <p class="para"> <span>a.</span> <span class="paraPadding"> Employer may terminate this Teleworking Agreement at
          any time, with or without cause,
          immediately upon
          written or electronic notice. Employer will not be held responsible for costs, damages or losses resulting
          from stopping
          remote working.</span>

        <p class="para"> <span>b.</span> <span class="paraPadding"> This Teleworking Agreement is not a contract of
            employment or intended to offer a new
            employee benefit
            and
            may
            not be construed as such.</span></p>

        <p class="para"><span>c.</span> <span class="paraPadding">Associate understands and agrees that this Teleworking
            Agreement does not otherwise
            alter the
            duties,
            obligations, responsibilities, and terms of Associate’s employment with Employer and any of Employer’s
            Client(s).</span></p>

        <p class="para"><span>d.</span> <span class="paraPadding">The terms hereof supplement any existing work from
            home policy and should be read to
            further
            Employer’s
            organizational goals which are to enhance associate safety during the Covid-19 pandemic while delivering
            high-quality and continuous service for internal and external stakeholders and clients.</span></p>

        <p class="heading">I have read and understood this Teleworking Agreement and accept its conditions. This Teleworking Agreement
          is
          without prejudice to any of Employer’s rights, remedies and defenses in your underlying Employment Agreement
          with
          Employer, now existing or hereafter arising, all of which are hereby expressly reserved.</p>
    </div>
  </div>
</ion-content>