referral-component {
    .card-md {
        margin: 3px;
        border-radius: 5px;
        min-height: 183px;
        width: calc(100% - 6px);
        background-color: #e4f3ff;
        box-shadow: none;
    }

    .referral-detail > div {
        padding: 5px 0;
    }
    .referral-header > div {
        border: 1px solid;
        border-color: white;
        background-color: #e4f3ff;
        padding: 10px;
    }
    .referral-detail ion-row ion-col div:nth-child(odd),
    .referral-header :nth-child(odd) {
        color: #858688;
    }

    .gridp8-1 {
        display: grid;
        grid-template-columns: 0.8fr 1fr;
    }

    .more-referral {
        color: #1586c7;
        font-size: 15px;
        margin: 5px;
        text-decoration: underline;
    }

    .referral-detail ion-row ion-col {
        display: flex;
        padding: 0;
    }
    .referral-detail ion-row ion-col div {
        width: 50%;
        color: black;
    }
    .referral-detail ion-row {
        border: 1px solid;
        border-color: white;
        background-color: #e4f3ff;
        padding: 8px;
    }
    .referral-detail ion-row:last-child {
        border-bottom: none;
    }

    .more-less {
        color: #0e82c7;
    }
    p {
        color: black !important;
    }
    ion-slides {
        width: 90%;
    }
}
