carnival-alert.ion-page {
  .heading {
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  .dismissBtn-parent {
    text-align: center;
  }
  .dismissBtn{
    
    height: 41px;
    margin-bottom: 10px;
  }
  .header-text{
    padding: 7px 10px;
  }
  .dos-donts{
    font-weight: 700;
    padding: 5px 10px;
    font-size: 1.2em;
    color: #0E7AC7;
  }
}
