<!--
  Generated template for the SelectedCoursesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Selected Courses List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div style="margin-top: 20px;" *ngIf="otherList">
    <ion-item>
      <ion-label stacked class="dapLabel"> You have selected "Others" in the competency/skill tab. Please specify the
        competency/skill that you plan to learn this year.</ion-label>

      <ion-input [(ngModel)]="otherList"></ion-input>
    </ion-item>
  </div>
  <ion-card *ngFor="let courseDetails of dapCoursesList; index as i">

    <div class="card-container">
      <div class="card-header {{courseDetails.method}}">
        <div class="titleName">
          <img *ngIf="courseDetails.method=='V Learn'" src="assets/imgs/virtual-icon.svg" />
          <img *ngIf="courseDetails.method=='Classroom'" src="assets/imgs/classroom-icon.svg" />
          <img *ngIf="courseDetails.method=='Online'" src="assets/imgs/online-icon.svg" />
        </div>
        <div class="subTitle">{{courseDetails?.title}}</div>
      </div>
    </div>

    <div class="text-left" style=" padding: 10px;">

      <div class="subTitle" *ngIf="courseDetails?.itemDescription">{{courseDetails?.itemDescription}}</div>
      <div class="subTitle" *ngIf="!courseDetails?.itemDescription">No Description Available</div>

      <div class="flex favdiv">
        <span class="padding-right8">

        </span>

       
      </div>
    </div>

  </ion-card>

</ion-content>