select-suggestion {
    .moreBtn{
        background: #0e86c7;
        color: white;
        border-radius: 5px;
        button{
            background: transparent;
            color: white;
        }
    }
}
