zenlearn-new-request.ion-page {
    ion-content.content .scroll-content {
        padding: 0;
        background: #F6F8FF;
    }
    .container-header{
        color: #fff;
        background: linear-gradient(90deg, #0EA2C8, #0E7AC7);
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .sectionHeading{
            font-size: 1.1em;
            font-weight: 500;
            display: flex;
            align-items: center;
            img{
                width: 40px;
            }
        }
    }
    ion-icon {
        display: inline-block;
        font-size: 1.5em;
    }
    ion-icon.close {
        font-size: 26px;
        margin-right: 10px;
    }
    .add-mentor{
        height: 40px;
        background: #fff;
        border: 1px solid #d5dbef;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    .msg-box {
        background: #fff;
        border: 1px solid #e7ecfd;
    }
    .main-wrapper{
        padding: 10px;
    }
    .request-btn{
        margin-top: 20px;
        border-radius: 25px;
    }
}
