page-chat-bot-model {
  .ion-page > ion-content {
    position: relative !important;
  }

  ion-header {
    left: 0;
    top: 0;
    /* position: absolute; */
    z-index: 10;
    display: block;
    width: 100%;
  }

  details {
    border-radius: 5px;
    box-shadow: 0 4px 6px 0 #516efe1f, 0 3px 4px -7px #516efe1f, 0 0px 5px 0 #516efe1f;
    margin: 10px 8px;
    .card {
      width: 100%;
      margin: 2px 0;
      box-shadow: 0px 0px 0px 0px #516efe11, 0px 0px 0px 2px #516efe11, 0px 0px 0px 0px #516efe11;
    }
  }

  summary::-webkit-details-marker {
    display: none;
  }

  summary {
    position: relative;
    margin: 0px;
  }
  .forward-icon {
    color: #0ea2c8;
    font-size: 1.5em;
  }

  summary:after {
    content: " ";
    color: black;
    position: absolute;
    right: 5%;
    width: 8px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 0px;
    transform: rotate(45deg);
    top: 40%;
  }

  details[open] summary ~ * {
    animation: sweep 0.5s ease-in-out;
  }

  details[open] summary:after {
    top: 45%;
    transform: rotate(-135deg);
  }

  // details.class-1{

  // }
  .card-background {
    background: #f7f6f6;
    border-bottom: 1px solid #cec7c7;
  }
  .summary-header {
    background: url("../assets/imgs/other.svg");
    background-size: cover;
    padding: 18px;
    border-radius: 5px;
  }

  .category-name {
    font-weight: 500;
    width: 78%;
    padding-left: 12px;
    font-size: 1.1em;
    color: white;
  }
  .list-bg {
    padding: 10px;
    margin: 0 5px;
    background: white;
  }
  .one {
    background: url("../assets/imgs/allowance.svg");
    background-size: cover;
  }
  .two {
    background: url("../assets/imgs/learningDevelopment.svg");
    background-size: cover;
  }
  .three {
    background: url("../assets/imgs/benefits.svg");
    background-size: cover;
  }
  .four {
    background: url("../assets/imgs/personals.svg");
    background-size: cover;
  }
  .five {
    background: url("../assets/imgs/referrals.svg");
    background-size: cover;
  }
  .six {
    background: url("../assets/imgs/leaveAttendance.svg");
    background-size: cover;
  }
  .seven {
    background: url("../assets/imgs/other.svg");
    background-size: cover;
  }
  .eight {
    background: url("../assets/imgs/payroll.svg");
    background-size: cover;
  }

  @keyframes sweep {
    0% {
      opacity: 0;
      margin-left: -10px;
    }
    100% {
      opacity: 1;
      margin-left: 0px;
    }
  }

  @media only screen and (max-width: 767px) {
    .md .modal-wrapper > .ion-page > ion-header > .toolbar.statusbar-padding:first-child {
      padding-top: calc(20px + 4px) !important;
      padding-top: calc(constant(safe-area-inset-top) + 4px) !important;
      padding-top: calc(env(safe-area-inset-top) + 4px) !important;
      min-height: calc(56px + 20px) !important;
      min-height: calc(56px + constant(safe-area-inset-top)) !important;
      min-height: calc(56px + env(safe-area-inset-top)) !important;
    }
  }
}
