sfDashbord-page {
    .content {
        background-color: #EFF3F8;
    }
    ion-segment {
        background-color: white;
    }
    .segment-md .segment-button {
        font-size: 1.4rem;
        text-transform: inherit;
        // height: 5rem !important;
    }
    .segment-md .segment-button.activated,
    .segment-md .segment-button.segment-activated {
        border-bottom: 1.5px solid $primary-color;
        opacity: 1;
        color: #000;
    }
    .container-bg {
        background-color: #EFF3F8;
        padding: 2px;
    }
    .diag-list {
        display: flex;
        background-color: white;
        width: 100%;
        border-bottom: 1px solid #F6F9FB;
        padding: 12px 8px;
        align-items: center;
    }
    .dig-icon {
        width: 15%;
        padding: 4px;
    }
    .list-section {
        width: 85%;
        padding-left: 5px;
    }
    .dig-list-title {
        padding-bottom: 5px;
        font-size: 1.1em;
        font-weight: 600;
    }
    .right-arrow {
        position: absolute;
        right: 13px;
    }
    .catg-styl {
        display: flex;
        justify-content: space-between;
        font-size: 1em;
        padding-right: 5px;
        align-items: center;
    }
    .no-data-msg {
        text-align: center;
        margin: 10px;
        font-weight: 600;
    }
    .catg-title {
        width: 40%;
        display: flex;
        align-items: center;
        color: #9d9d9d;
    }
    .date-styl {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #9d9d9d;
        font-size: 1em;
    }
    .calender-styl {
        padding-right: 3px;
    }
    .icon-styl {
        font-size: 2em;
        color: white;
        padding-right: 6px;
    }
    .flex-align-center {
        display: flex;
        align-items: center;
    }
    .error-msg {
        text-align: center;
        font-size: 15px;
        color: gray;
    }
    .list-align {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 6px;
        border-bottom: 1px solid lightgray;
        background: white;
        margin: 5px;
        border-radius: 5px;
    }
    .profile-section {
        display: flex;
        align-items: center;
        width: 80%;
    }
    .profile-icon {
        width: 15%;
        padding-left: 3px;
    }
    .avtar-styl {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid #0e82c7;
    }
    .flex-clum {
        display: flex;
        flex-direction: column;
    }
    .paddding-left8 {
        padding-left: 8px;
    }
    .padding-btm6 {
        padding-bottom: 6px;
    }
    .activity-part {
        display: flex;
        align-items: center;
        // background: #ebecff;
        padding: 14px;
        border-radius: 6px;
    }
    .padding-left16 {
        padding-left: 16px;
    }
    .searchbar-md {
        padding: 0px;
    }
}