page-applied-hours-list {
    .main{
        background-color: #FBFBFB;
        .parent-div{
                border-radius: 5px;
                background-color: #ffffff;
                margin: 8px;
        }
    }
}
