report-drill-model-page {
    .btn-style {
        background: #0e83c8;
        color: white;
        font-size: 1.2em;
    }
    .reportsubmitBtn{
        display: flex;
        justify-content: center;
        padding-top: 2%;
    }
}
