page-apply-additional-hours {
    .dateInput{
        width: 107px;
        border: none;
    }
    
    .borderColor{
        width: 100%;
        border-bottom: 1px solid $ts-tertiary !important;   
        padding-left: 0px;
        font-size: 1em;
    }
    
    .dateBody{
        width: 50%;
        border: 1px solid #989aa2;
        /* margin-right: 4%; */
        padding: 5px;
        display: flex;
        align-items: center;
    }
    .dateIcon{
        float: right;
        background: none;
        font-size: 0.5em;
    }
    .formBody{
        display: flex;
        // padding: 4%;
    }
    .submitBtn{
        button{
            padding: 0 0.9em;
            background: $ts-secondary;
            color: white;
            text-transform: capitalize;
        }
    }
    
    .buttonColor{
        --background: linear-gradient(to right,var(--ion-color-primary-shade),var(--ion-color-primary-tint)); 
        color: white;
        text-transform: capitalize;
        width: 110px;
        height: 40px;
    }
    
    .time{
        display:flex;
        ion-datetime{
            width:80%;
        }
        .mic{
            width: 20%;
            .icon{
                padding: 10%;
                .iconify{
                    font-size: 0.9em;
                }
            }
        }
    }

     //Newly added CSS
     .list .item .item-inner{
        border-bottom: none;
    }
    .error-msg{
        color: red;
        margin-top: 2px;
        display: block;
    }
    ion-select{
        width: 100%;
        max-width: none;
        .select-text{
            white-space: initial;
        }
    }
    .dateBorderColor{
        border-bottom: 1px solid $ts-tertiary;  
        font-size: 1em;
    }
    .marginRight{
        margin-right: 2%;
    }
    .width-50{
        width: 50%;
    }
    .remarks{
        background-color: #F9FAFB;
        border-radius: 5px;
        border: 1px solid $ts-tertiary !important;
        .text-input{
            margin: 13px !important;
        }
    }
    ion-input{
        .text-input{
            margin: 13px !important;
            font-size: 0.9em;
        }
    }
    .down-arrow{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #808080;
        font-size: 1.2em;
        padding-left: 5px !important;
    }
    .taskInput{
        padding-left: 0%;
        border-bottom: none !important;
        .item-inner{
            border: none !important;
            box-shadow: none !important;
        }
    }

    .taskOption{
        border-bottom: 1px solid $ts-tertiary;
        ion-row{
            padding-right: 8px;
        }
    }
}
