learning-hrs {
    .container-card {
        min-height: 17vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 2%;
        border: 1px solid #e4f3ff;
        width: 80%;
      }

      .learning-card {
        padding-top: 12px;
        display: flex;
        width: 100%;
      }
  
      .learning-icon {
        width: 12%;
        padding-left: 2%;
      }

      .icon-header {
        height: 30px;
        width: 30px;
      }

      .flex-column-center {
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      .width88per {
        width: 88%;
      }

      .padding0-5 {
        padding: 0 5px;
      }

      .font-1p2 {
        font-size: 1.1em;
      }

      .learn-sum-title {
        font-weight: 300;
      }

      .font-bold {
        font-weight: bold;
      }

      .lerning-hr {
        display: flex;
        background: #1586c7;
        padding: 4px 4px;
        border-radius: 3px;
        font-size: 1.1em;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        margin-left: 10px;
      }

      .padding-left12 {
        padding-left: 12px;
      }

      .progress-outer {
        position: relative;
        // margin: 8px;
        margin: 8px 0px;
        top: -8px;
        border-radius: 20px;
      }

      .progress-outer::after {
        content: " ";
        position: absolute;
        width: 100%;
        top: 8px;
        left: 0;
        border-top: 3px solid #c7c4c4;
        z-index: 0;
      }
      .progress-inner {
        height: 4px;
        border-radius: 20px;
        // background-color: green;
        position: relative;
        z-index: 9;
        top: 7px;
      }

      .nodata {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1em;
        
      }
}
