tool-tip {
  .formButtonIcon {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 0 !important;

    .form-icon {
      width: 20px;
      height: 20px;
    }

    .info-icon {
      width: 15px;
      height: 15px;
    }
  }
}
