<!-- Generated template for the JobFilterComponent component -->
<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only>

      </button>
    </ion-buttons>
    <ion-title center>
      <img class="back-btn" (click)="dismiss()" src="assets/imgs/back-arrow.svg" />
      <span class="titleMargin">Filter</span>

    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="resetAll()" class="reset">
        Reset
      </button>
      <button ion-button icon-only class="apply" (click)="applyFilter()">
        Apply
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
<div class="mainConatiner" *ngIf="isDataavailable">
  <div class="filterType">
    <div class="card-box"
      [ngClass]="{'bgSkills':filterType=='skills','bgBu':filterType=='bu','bgCity':filterType=='city','bgPostedDate':filterType=='postedDate'}"
      *ngFor="let filterType of filterjob" (click)="updateFilterType(filterType)">
      <img src="assets/imgs/landing-mask.svg" class="bgImg">
      <div class="flexItem">
        <img class="imgStyle" *ngIf="filterType == 'skills'"
          src="assets/icon/dashboard-icons/Zenrich-filter-skills.svg">
        <img class="imgStyle" *ngIf="filterType == 'bu'" src="assets/icon/dashboard-icons/Zenrich-filter-bu.svg">
        <img class="imgStyle" *ngIf="filterType == 'city'"
          src="assets/icon/dashboard-icons/Zenrich-filter-location.svg">
        <img class="imgStyle" *ngIf="filterType == 'postedDate'"
          src="assets/icon/dashboard-icons/Zenrich-filter-calendar.svg">
        <span class="textStyle" *ngIf="filterType == 'skills' || filterType == 'city'">
          {{filterType}}
        </span>
        <span class="textStyle" *ngIf="filterType == 'bu'">
          BU
        </span>
        <span class="textStyle" *ngIf="filterType == 'postedDate'">
          Posted Date
        </span>

      </div>

    </div>
  </div>
  <div class="filterData">
    <div *ngIf="selectedtype =='skills'">
      <div class="text-box-conatiner">
        <ion-input type="text" placeholder = 'Search skills' [(ngModel)]="searchValue" (ngModelChange)="searchText()"></ion-input>
      </div>
      
        <label class="filterItem" *ngFor="let skillsValue of  skillsArray">
        <ion-checkbox class="checboxStyle" (ionChange)="changed(skillsValue)" [(ngModel)]="skillsValue.checked">
        </ion-checkbox>
        <span class="checkBoxText">{{skillsValue.value}}</span>
      </label>
      
      <div class="no-data-msg" *ngIf="skillsArray.length == 0">No item found </div>
    </div>
    <div *ngIf="selectedtype =='bu'">
      <label class="filterItem" *ngFor="let skillsValue of  buArray; index as i">
        <ion-checkbox class="checboxStyle" (ionChange)="changed(skillsValue)" [(ngModel)]="skillsValue.checked">
        </ion-checkbox>
        <span class="checkBoxText">{{skillsValue.value}}</span>
      </label>
    </div>
    <div *ngIf="selectedtype =='city'">
      <label class="filterItem" *ngFor="let skillsValue of  cityArray; index as i">
        <ion-checkbox class="checboxStyle" (ionChange)="changed(skillsValue)" [(ngModel)]="skillsValue.checked">
        </ion-checkbox>
        <span class="checkBoxText">{{skillsValue.value}}</span>
      </label>
    </div>
    <div *ngIf="selectedtype =='postedDate'">
      <ion-item>
        <ion-label>
          Start Date
        </ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY" (ionChange)="changeDate(getStartDate,'startDate')"
          [(ngModel)]="getStartDate" [min]="getStartDate" [max]="getEndDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>
          End Date
        </ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY" (ionChange)="changeDate(getEndDate,'endDate')" [(ngModel)]="getEndDate"
          [min]="getStartDate" [max]="getEndDate"></ion-datetime>
      </ion-item>
    </div>
  </div>

</div>
</ion-content>