.popover-content {
  width: 170px !important;
}

.attachOption {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;

  .attachIcon {
    height: 30px;
    width: 30px;
  }
}
