page-banner-details {
  .bannerIcon {
    width: 100%;
    // height: 30vh;
  }
  .heading {
    font-size: 1.5em;
  }
  .details {
    font-size: 0.9em;
    text-align: left;
  }
  .pageTitle {
    margin-left: -15px;
  }
  // .bannerImg {
  //   background: linear-gradient(to bottom right, rgb(254, 172, 110), rgb(248, 71, 115));
  // }
 
}
